<h1 style="color:#FF0000">Set-up</h1>

### Import libraries
- Imports libraries needed for this notebook

In [30]:
pip install chart_studio

Requirement already satisfied: chart_studio in /usr/local/lib/python3.11/dist-packages (1.1.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.11/dist-packages (from chart_studio) (5.24.1)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from chart_studio) (2.32.3)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.11/dist-packages (from chart_studio) (1.3.4)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from chart_studio) (1.17.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from plotly->chart_studio) (9.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from plotly->chart_studio) (24.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->chart_studio) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->chart_studio) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->chart_studio) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->chart_studio) (2024.12.14)

In [31]:
import pandas as pd
from datetime import datetime as dt
import urllib.request
import json
import yfinance as yf
import time
from tqdm import tqdm
from requests.exceptions import HTTPError, RequestException
import plotly.express as px

In [32]:
# Import and setup for plotly in Colab
import chart_studio
import chart_studio.plotly as py # for plotting graphs
import plotly.graph_objects as go
import plotly.io as pio
import plotly.express as px

# Enable displaying pandas data frames as interactive tables by default
from google.colab import data_table # so tables don't suck
data_table.enable_dataframe_formatter()

- Pick your start and end dates, <br>
- whether you want the peer data or the company data,<br>
- and what threshold you want for percentage presence over time of each company's stock within an index <br>
- choose your file <br>
- and your index <br>
- download_lag is the pause in seconds between evaluating each ticker, i recommend 0.5 to prevent yahoo throttling your access

In [33]:
start ='2014-01-01' #@param {type:string} ['2014-01-01','2019-12-01']
end = 'today' #@param {type:string} ['2019-11-01','today']
benchmark= False #@param {type:'boolean'}
threshold=90 #@param {type:'integer'}
chosen_ticker_file = 'S&P500tickers.csv' #@param {type:string} ['S&P500tickers.csv','FTSE100.csv']
fin_index= 'SP500' #@param {type:string} ['SP500','FTSE100']
download_lag= 0.5 #@param {type: "slider", min: 0, max: 2, step: 0.01}


if end == 'today':
  end = None
# when slicing with None it goes right up to the end of the dataframe

#create time variable to name dataset
if start == '2014-01-01':
  if end==None:
    time_range='all'
  elif end=='2019-11-01':
    time_range='before'
else:
    time_range='after'

#create data variable to name dataset
if benchmark==True:
    datatype='peerGroup'
else:
    datatype='ticker'

<h1 style="color:#FF0000">Tickers list</h1>

### Create tickers list function
- Takes a CSV for an index fund with a list of dates, each with a corresponding list of tickers that were in an index on that date
- Also takes a threshold percentage time (out of 100) that a stock has to have been on the index (default 90)
- Returns a list of tickers which have been on that index a specified percentage of the time between 2014 and 2025

In [34]:
# code I borrowed from: https://medium.com/@rganesh0203/different-ways-to-count-duplicates-in-list-python-in-worst-to-best-complexities-8a23c3ebd9c4
# this code just counts how many times an element occurs in a list and puts that in a dictionary with key as element and value as number of occurences
def count_duplicates_dict(lst):
        duplicates = {}
        for item in lst:
            if item in duplicates:
                duplicates[item] += 1
            else:
                duplicates[item] = 1
        return {key: value for key, value in duplicates.items() if value > 1}

In [35]:
def tickers_func(file, threshold=90):
    strongest=[]      #creates an empty list
    df=pd.read_csv(file)      #read csv file

    df['date']=pd.to_datetime(df['date'])      #set date column as datetime object
    df=df[df['date']>'2014-01-01']      #we only want data pre 2014
    df_list=list(df['tickers'])      #create a list, each element is a string that contains all the stock tickers for that date
    total=len(df_list)      #gets total number of timestamp rows

    for index,value in enumerate(df_list):      #iterates through df_list
        strongest.extend(value.split(','))      #splits the strings of tickers into lists of strings of single tickers and adds all those lists into one big list
    dict_best_tickers=count_duplicates_dict(strongest)      #uses the count duplicates function to count how many times a ticker shows up in the list

    for i in dict_best_tickers:      #iterates through dictionary and replaces count of occurences with percentage of occurences
        dict_best_tickers[i]=round(100*dict_best_tickers[i]/total,2)
    sorted_dict = dict(sorted(dict_best_tickers.items(), key=lambda item: item[1],reverse=True))      #sorts by percentage of occurences

    final_dict=dict()      #create empty dictionary

    for i in sorted_dict:      #iterate through dictionary, adding values which exceed the occurence threshold to the empty dictionary
        if sorted_dict[i]>threshold:
            final_dict[i]=sorted_dict[i]

    tickers=list(final_dict.keys())      #gets the keys i.e. tickers of the dictionary and puts them in a list

    return tickers      #exports the list


### S&P 500 tickers list

### These will need to be changed if the index is changed (has been done manually)

In [36]:
tickers=tickers_func(chosen_ticker_file, threshold=threshold)      #calls the function above

In [37]:
# used claude anthropic to sort failing tickers into tickers to change and tickers to remove
change_dict= {
        'FB': 'META',
        'ANTM': 'ELV',   #updated tickers
        'BLL': 'BALL',
        'DISCA': 'WBD',
        'CTL': 'LUMN',
        'MYL': 'VTRS',
        'FISV': 'FI',
        'COG': 'CTRA',
        'BF.B':'BF-B',
        'BRK.B':'BRK-B',



        }
remove_list =[
        'A',
        'NLSN',
        'CERN',
        'XLNX',
        'KSU',
        'ALXN',  #comapanies that have gone private
        'VAR',
        'TIF',
        'NBL',
        'ETFC',
        'ADS',
        'AGN',
        'FLIR',
        'GPS',
        'MRO',
        'PXD',
        'PKI',
        'CTXS',
        'PBCT',
        'ABC',
        'GOOG',
        'LB'
        ]

In [38]:
for _index, _value in change_dict.items():
  tickers[tickers.index(_index)]=_value
for _value in remove_list:
  tickers.remove(_value)

### FTSE 100 stock data

<h1 style="color:#FF0000">Create metadata tables</h1>

In [39]:
list_metrics=list(yf.Ticker('AAPL').sustainability.index) #creates list of possible information we can get from sustainability attribute
columns=['Symbol','Name_short','Name_long','Zip_code','City','State','Country','Website','Industry','Sector','Full-time_Employees']
#metrics we've chosen to take from yf.Ticker(ticker string i.e. "AAPL").info
columns.extend(list_metrics) #add on sustainability metrics
metadata=pd.DataFrame(columns=columns)
# creates a dataframe called metadata with each row as a ticker and its associated metadata
# using lots of try/except pairs to handle non-US companies not having state or zip code



for ticker in tqdm(tickers): #tqdm makes a progress bar, iterate over tickers list, choose tickers to choose index

    print(ticker)

    time.sleep(download_lag) #prevents request speed throttling for having too fast of a rate


    tick=yf.Ticker(ticker) #initialises Ticker class
    stock=tick.info #gets info attr
    esg = tick.sustainability #gets sustainability attr


    try:
        has_zip=stock['zip'] #zip and state handling
        has_state=stock['state']
    except:
        has_zip=None
        has_state=None


    try:
        has_employees=stock['fullTimeEmployees'] #missing employee data handling
    except:
        has_employees=None


    stock_row=[stock['symbol'],stock['shortName'],stock['longName'],has_zip,stock['city'],has_state,stock['country'],stock['website'],stock['industry'],stock['sector'],has_employees]
    stock_row.extend([esg.loc[metric,'esgScores'] for metric in list_metrics]) # creates stock_row which contains all the metadata for that ticker
    stock_row=pd.DataFrame([stock_row],columns=columns) #turns stock_row into dataframe
    metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe

  0%|          | 0/348 [00:00<?, ?it/s]

AAPL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
  0%|          | 1/348 [00:00<03:27,  1.67it/s]

ABBV

  1%|          | 2/348 [00:01<03:32,  1.63it/s]

ABT

  1%|          | 3/348 [00:01<03:42,  1.55it/s]

ACN

  1%|          | 4/348 [00:02<03:39,  1.56it/s]

ADBE

  1%|▏         | 5/348 [00:03<03:41,  1.55it/s]

ADI

  2%|▏         | 6/348 [00:03<03:36,  1.58it/s]

ADM

  2%|▏         | 7/348 [00:04<03:40,  1.54it/s]

ADP

  2%|▏         | 8/348 [00:05<03:37,  1.56it/s]

ADSK

  3%|▎         | 9/348 [00:05<03:34,  1.58it/s]

AEE

  3%|▎         | 10/348 [00:06<03:36,  1.56it/s]

AEP

  3%|▎         | 11/348 [00:07<03:42,  1.51it/s]

AES

  3%|▎         | 12/348 [00:07<03:41,  1.52it/s]

AFL

  4%|▎         | 13/348 [00:08<03:35,  1.55it/s]

AIG

  4%|▍         | 14/348 [00:08<03:34,  1.56it/s]

AIZ

  4%|▍         | 15/348 [00:09<03:32,  1.57it/s]

AKAM

  5%|▍         | 16/348 [00:10<03:32,  1.57it/s]

ALL

  5%|▍         | 17/348 [00:10<03:28,  1.59it/s]

ALLE

  5%|▌         | 18/348 [00:11<03:27,  1.59it/s]

AMAT

  5%|▌         | 19/348 [00:12<03:24,  1.61it/s]

AME

  6%|▌         | 20/348 [00:12<03:21,  1.62it/s]

AMGN

  6%|▌         | 21/348 [00:13<03:20,  1.63it/s]

AMP

  6%|▋         | 22/348 [00:13<03:20,  1.62it/s]

AMT

  7%|▋         | 23/348 [00:14<03:22,  1.60it/s]

AMZN

  7%|▋         | 24/348 [00:15<03:20,  1.61it/s]

AON

  7%|▋         | 25/348 [00:15<03:20,  1.61it/s]

APA

  7%|▋         | 26/348 [00:16<03:18,  1.62it/s]

APD

  8%|▊         | 27/348 [00:17<03:19,  1.61it/s]

APH

  8%|▊         | 28/348 [00:17<03:19,  1.61it/s]

APTV

  8%|▊         | 29/348 [00:18<03:19,  1.60it/s]

AVB

  9%|▊         | 30/348 [00:18<03:16,  1.62it/s]

AVY

  9%|▉         | 31/348 [00:19<03:13,  1.64it/s]

AXP

  9%|▉         | 32/348 [00:20<03:15,  1.62it/s]

AZO

  9%|▉         | 33/348 [00:20<03:13,  1.63it/s]

BA

 10%|▉         | 34/348 [00:21<03:10,  1.65it/s]

BAC

 10%|█         | 35/348 [00:21<03:09,  1.65it/s]

BAX

 10%|█         | 36/348 [00:22<03:09,  1.65it/s]

BBY

 11%|█         | 37/348 [00:23<03:09,  1.64it/s]

BDX

 11%|█         | 38/348 [00:23<03:08,  1.64it/s]

BEN

 11%|█         | 39/348 [00:24<03:08,  1.64it/s]

BF-B

 11%|█▏        | 40/348 [00:24<03:08,  1.63it/s]

BIIB

 12%|█▏        | 41/348 [00:25<03:08,  1.63it/s]

BK

 12%|█▏        | 42/348 [00:26<03:06,  1.64it/s]

BKNG

 12%|█▏        | 43/348 [00:26<03:05,  1.64it/s]

BLK

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 13%|█▎        | 44/348 [00:27<03:06,  1.63it/s]

BMY

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 13%|█▎        | 45/348 [00:28<03:06,  1.63it/s]

BRK-B

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 13%|█▎        | 46/348 [00:28<03:05,  1.63it/s]

BSX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 14%|█▎        | 47/348 [00:29<03:06,  1.61it/s]

BWA

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 14%|█▍        | 48/348 [00:29<03:04,  1.63it/s]

BXP

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 14%|█▍        | 49/348 [00:30<03:03,  1.63it/s]

C

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 14%|█▍        | 50/348 [00:31<03:03,  1.63it/s]

CAG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 15%|█▍        | 51/348 [00:31<03:01,  1.63it/s]

CAH

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 15%|█▍        | 52/348 [00:32<03:00,  1.64it/s]

CAT

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 15%|█▌        | 53/348 [00:32<02:59,  1.64it/s]

CB

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 16%|█▌        | 54/348 [00:33<03:02,  1.61it/s]

CBRE

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 16%|█▌        | 55/348 [00:34<03:00,  1.62it/s]

CCI

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 16%|█▌        | 56/348 [00:34<03:01,  1.61it/s]

CCL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 16%|█▋        | 57/348 [00:35<02:59,  1.62it/s]

CF

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 17%|█▋        | 58/348 [00:36<02:58,  1.63it/s]

CHRW

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 17%|█▋        | 59/348 [00:36<02:56,  1.64it/s]

CI

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 17%|█▋        | 60/348 [00:37<02:56,  1.63it/s]

CINF

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 18%|█▊        | 61/348 [00:37<02:55,  1.64it/s]

CL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 18%|█▊        | 62/348 [00:38<02:55,  1.63it/s]

CLX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 18%|█▊        | 63/348 [00:39<02:54,  1.64it/s]

CMCSA

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 18%|█▊        | 64/348 [00:39<02:53,  1.64it/s]

CME

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 19%|█▊        | 65/348 [00:40<02:51,  1.65it/s]

CMG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 19%|█▉        | 66/348 [00:40<02:53,  1.63it/s]

CMI

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 19%|█▉        | 67/348 [00:41<02:54,  1.61it/s]

CMS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 20%|█▉        | 68/348 [00:42<02:53,  1.62it/s]

CNP

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 20%|█▉        | 69/348 [00:42<02:52,  1.61it/s]

COF

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 20%|██        | 70/348 [00:43<02:51,  1.62it/s]

COP

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 20%|██        | 71/348 [00:44<02:49,  1.63it/s]

COST

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 21%|██        | 72/348 [00:44<02:48,  1.63it/s]

CPB

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 21%|██        | 73/348 [00:45<02:47,  1.64it/s]

CRM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 21%|██▏       | 74/348 [00:45<02:52,  1.59it/s]

CSCO

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 22%|██▏       | 75/348 [00:46<02:50,  1.61it/s]

CSX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 22%|██▏       | 76/348 [00:47<02:47,  1.62it/s]

CTAS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 22%|██▏       | 77/348 [00:47<02:46,  1.63it/s]

CTSH

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 22%|██▏       | 78/348 [00:48<02:44,  1.64it/s]

CVS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 23%|██▎       | 79/348 [00:48<02:44,  1.64it/s]

CVX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 23%|██▎       | 80/348 [00:49<02:43,  1.64it/s]

D

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 23%|██▎       | 81/348 [00:50<02:43,  1.64it/s]

DAL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 24%|██▎       | 82/348 [00:50<02:46,  1.60it/s]

DE

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 24%|██▍       | 83/348 [00:51<02:46,  1.59it/s]

DFS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 24%|██▍       | 84/348 [00:52<02:43,  1.61it/s]

DG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 24%|██▍       | 85/348 [00:52<02:41,  1.63it/s]

DGX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 25%|██▍       | 86/348 [00:53<02:39,  1.64it/s]

DHI

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 25%|██▌       | 87/348 [00:53<02:39,  1.64it/s]

DHR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 25%|██▌       | 88/348 [00:54<02:38,  1.64it/s]

DIS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 26%|██▌       | 89/348 [00:55<02:37,  1.65it/s]

DLTR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 26%|██▌       | 90/348 [00:55<02:37,  1.64it/s]

DOV

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 26%|██▌       | 91/348 [00:56<02:36,  1.64it/s]

DRI

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 26%|██▋       | 92/348 [00:56<02:35,  1.65it/s]

DTE

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 27%|██▋       | 93/348 [00:57<02:34,  1.65it/s]

DUK

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 27%|██▋       | 94/348 [00:58<02:33,  1.66it/s]

DVA

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 27%|██▋       | 95/348 [00:58<02:32,  1.66it/s]

DVN

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 28%|██▊       | 96/348 [00:59<02:32,  1.65it/s]

EA

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 28%|██▊       | 97/348 [00:59<02:31,  1.65it/s]

EBAY

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 28%|██▊       | 98/348 [01:00<02:31,  1.65it/s]

ECL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 28%|██▊       | 99/348 [01:01<02:31,  1.64it/s]

ED

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 29%|██▊       | 100/348 [01:01<02:31,  1.63it/s]

EFX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 29%|██▉       | 101/348 [01:02<02:31,  1.63it/s]

EIX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 29%|██▉       | 102/348 [01:03<02:32,  1.62it/s]

EL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 30%|██▉       | 103/348 [01:03<02:30,  1.63it/s]

EMN

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 30%|██▉       | 104/348 [01:04<02:29,  1.64it/s]

EMR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 30%|███       | 105/348 [01:04<02:27,  1.64it/s]

EOG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 30%|███       | 106/348 [01:05<02:34,  1.57it/s]

EQR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 31%|███       | 107/348 [01:06<02:31,  1.59it/s]

ES

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 31%|███       | 108/348 [01:06<02:29,  1.61it/s]

ETN

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 31%|███▏      | 109/348 [01:07<02:27,  1.62it/s]

ETR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 32%|███▏      | 110/348 [01:07<02:28,  1.60it/s]

EW

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 32%|███▏      | 111/348 [01:08<02:26,  1.61it/s]

EXC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 32%|███▏      | 112/348 [01:09<02:30,  1.57it/s]

EXPD

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 32%|███▏      | 113/348 [01:09<02:29,  1.57it/s]

EXPE

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 33%|███▎      | 114/348 [01:10<02:27,  1.59it/s]

F

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 33%|███▎      | 115/348 [01:11<02:24,  1.61it/s]

FAST

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 33%|███▎      | 116/348 [01:11<02:23,  1.61it/s]

FCX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 34%|███▎      | 117/348 [01:12<02:34,  1.50it/s]

FDX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 34%|███▍      | 118/348 [01:13<02:29,  1.53it/s]

FE

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 34%|███▍      | 119/348 [01:13<02:26,  1.56it/s]

FFIV

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 34%|███▍      | 120/348 [01:14<02:24,  1.58it/s]

FIS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 35%|███▍      | 121/348 [01:14<02:22,  1.59it/s]

FITB

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 35%|███▌      | 122/348 [01:15<02:20,  1.61it/s]

FMC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 35%|███▌      | 123/348 [01:16<02:27,  1.53it/s]

FOXA

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 36%|███▌      | 124/348 [01:16<02:23,  1.56it/s]

GD

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 36%|███▌      | 125/348 [01:17<02:20,  1.59it/s]

GE

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 36%|███▌      | 126/348 [01:18<02:18,  1.61it/s]

GILD

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 36%|███▋      | 127/348 [01:18<02:16,  1.62it/s]

GIS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 37%|███▋      | 128/348 [01:19<02:14,  1.63it/s]

GLW

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 37%|███▋      | 129/348 [01:19<02:13,  1.64it/s]

GM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 37%|███▋      | 130/348 [01:20<02:21,  1.55it/s]

GOOGL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 38%|███▊      | 131/348 [01:21<02:23,  1.51it/s]

GPC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 38%|███▊      | 132/348 [01:21<02:18,  1.55it/s]

GRMN

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 38%|███▊      | 133/348 [01:22<02:15,  1.58it/s]

GS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 39%|███▊      | 134/348 [01:23<02:13,  1.60it/s]

GWW

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 39%|███▉      | 135/348 [01:23<02:14,  1.59it/s]

HAL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 39%|███▉      | 136/348 [01:24<02:11,  1.61it/s]

HAS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 39%|███▉      | 137/348 [01:25<02:10,  1.62it/s]

HBAN

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 40%|███▉      | 138/348 [01:25<02:09,  1.62it/s]

HD

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 40%|███▉      | 139/348 [01:26<02:07,  1.63it/s]

HES

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 40%|████      | 140/348 [01:26<02:07,  1.63it/s]

HIG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 41%|████      | 141/348 [01:27<02:07,  1.63it/s]

HON

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 41%|████      | 142/348 [01:28<02:07,  1.61it/s]

HPQ

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 41%|████      | 143/348 [01:28<02:07,  1.61it/s]

HRL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 41%|████▏     | 144/348 [01:29<02:05,  1.62it/s]

HST

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 42%|████▏     | 145/348 [01:29<02:04,  1.63it/s]

HSY

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 42%|████▏     | 146/348 [01:30<02:03,  1.64it/s]

HUM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 42%|████▏     | 147/348 [01:31<02:02,  1.64it/s]

IBM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 43%|████▎     | 148/348 [01:31<02:01,  1.64it/s]

ICE

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 43%|████▎     | 149/348 [01:32<02:00,  1.64it/s]

IFF

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 43%|████▎     | 150/348 [01:32<02:00,  1.65it/s]

INTC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 43%|████▎     | 151/348 [01:33<02:01,  1.63it/s]

INTU

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 44%|████▎     | 152/348 [01:34<02:00,  1.62it/s]

IP

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 44%|████▍     | 153/348 [01:34<01:59,  1.63it/s]

IPG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 44%|████▍     | 154/348 [01:35<02:02,  1.58it/s]

IR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 45%|████▍     | 155/348 [01:36<02:01,  1.60it/s]

IRM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 45%|████▍     | 156/348 [01:36<01:59,  1.60it/s]

ISRG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 45%|████▌     | 157/348 [01:37<01:58,  1.62it/s]

ITW

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 45%|████▌     | 158/348 [01:37<01:57,  1.62it/s]

IVZ

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 46%|████▌     | 159/348 [01:38<01:56,  1.63it/s]

JCI

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 46%|████▌     | 160/348 [01:39<01:55,  1.63it/s]

JNJ

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 46%|████▋     | 161/348 [01:39<01:56,  1.61it/s]

JNPR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 47%|████▋     | 162/348 [01:40<01:54,  1.62it/s]

JPM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 47%|████▋     | 163/348 [01:41<01:53,  1.63it/s]

K

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 47%|████▋     | 164/348 [01:41<01:52,  1.64it/s]

KEY

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 47%|████▋     | 165/348 [01:42<01:51,  1.64it/s]

KIM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 48%|████▊     | 166/348 [01:42<01:50,  1.64it/s]

KLAC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 48%|████▊     | 167/348 [01:43<01:50,  1.64it/s]

KMB

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 48%|████▊     | 168/348 [01:44<01:56,  1.54it/s]

KMI

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 49%|████▊     | 169/348 [01:44<01:55,  1.55it/s]

KMX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 49%|████▉     | 170/348 [01:45<01:53,  1.57it/s]

KO

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 49%|████▉     | 171/348 [01:46<01:51,  1.59it/s]

KR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 49%|████▉     | 172/348 [01:46<01:50,  1.60it/s]

L

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 50%|████▉     | 173/348 [01:47<01:48,  1.62it/s]

LEN

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 50%|█████     | 174/348 [01:48<01:53,  1.53it/s]

LH

 50%|█████     | 175/348 [01:48<01:52,  1.53it/s]

LLY

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 51%|█████     | 176/348 [01:49<02:00,  1.43it/s]

LMT

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 51%|█████     | 177/348 [01:50<01:56,  1.47it/s]

LOW

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 51%|█████     | 178/348 [01:50<01:51,  1.52it/s]

LRCX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 51%|█████▏    | 179/348 [01:51<01:48,  1.55it/s]

LUV

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 52%|█████▏    | 180/348 [01:51<01:46,  1.58it/s]

LYB

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 52%|█████▏    | 181/348 [01:52<01:44,  1.60it/s]

MA

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 52%|█████▏    | 182/348 [01:53<01:47,  1.54it/s]

MAR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 53%|█████▎    | 183/348 [01:53<01:44,  1.58it/s]

MAS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 53%|█████▎    | 184/348 [01:54<01:42,  1.60it/s]

MCD

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 53%|█████▎    | 185/348 [01:55<01:50,  1.48it/s]

MCHP

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 53%|█████▎    | 186/348 [01:55<01:45,  1.53it/s]

MCK

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 54%|█████▎    | 187/348 [01:56<01:43,  1.56it/s]

MCO

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 54%|█████▍    | 188/348 [01:57<01:42,  1.56it/s]

MDLZ

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 54%|█████▍    | 189/348 [01:57<01:40,  1.58it/s]

MDT

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 55%|█████▍    | 190/348 [01:58<01:39,  1.59it/s]

MET

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 55%|█████▍    | 191/348 [01:58<01:37,  1.60it/s]

MHK

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 55%|█████▌    | 192/348 [01:59<01:36,  1.61it/s]

MKC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 55%|█████▌    | 193/348 [02:00<01:35,  1.62it/s]

MMC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 56%|█████▌    | 194/348 [02:00<01:35,  1.62it/s]

MMM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 56%|█████▌    | 195/348 [02:01<01:34,  1.61it/s]

MNST

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 56%|█████▋    | 196/348 [02:02<01:34,  1.60it/s]

MO

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 57%|█████▋    | 197/348 [02:02<01:33,  1.62it/s]

MOS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 57%|█████▋    | 198/348 [02:03<01:31,  1.63it/s]

MPC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 57%|█████▋    | 199/348 [02:03<01:30,  1.64it/s]

MRK

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 57%|█████▋    | 200/348 [02:04<01:30,  1.64it/s]

MS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 58%|█████▊    | 201/348 [02:05<01:29,  1.64it/s]

MSFT

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 58%|█████▊    | 202/348 [02:05<01:30,  1.62it/s]

MSI

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 58%|█████▊    | 203/348 [02:06<01:29,  1.63it/s]

MTB

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 59%|█████▊    | 204/348 [02:06<01:27,  1.64it/s]

MU

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 59%|█████▉    | 205/348 [02:07<01:27,  1.64it/s]

NDAQ

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 59%|█████▉    | 206/348 [02:08<01:34,  1.50it/s]

NEE

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 59%|█████▉    | 207/348 [02:08<01:31,  1.54it/s]

NEM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 60%|█████▉    | 208/348 [02:09<01:28,  1.58it/s]

NFLX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 60%|██████    | 209/348 [02:10<01:27,  1.59it/s]

NI

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 60%|██████    | 210/348 [02:10<01:25,  1.62it/s]

NKE

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 61%|██████    | 211/348 [02:11<01:24,  1.63it/s]

NOC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 61%|██████    | 212/348 [02:11<01:23,  1.64it/s]

NRG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 61%|██████    | 213/348 [02:12<01:22,  1.63it/s]

NSC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 61%|██████▏   | 214/348 [02:13<01:22,  1.63it/s]

NTAP

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 62%|██████▏   | 215/348 [02:13<01:21,  1.63it/s]

NTRS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 62%|██████▏   | 216/348 [02:14<01:20,  1.63it/s]

NUE

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 62%|██████▏   | 217/348 [02:15<01:19,  1.64it/s]

NVDA

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 63%|██████▎   | 218/348 [02:15<01:19,  1.64it/s]

NWSA

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 63%|██████▎   | 219/348 [02:16<01:18,  1.64it/s]

OKE

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 63%|██████▎   | 220/348 [02:16<01:17,  1.64it/s]

OMC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 64%|██████▎   | 221/348 [02:17<01:17,  1.64it/s]

ORCL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 64%|██████▍   | 222/348 [02:18<01:17,  1.63it/s]

ORLY

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 64%|██████▍   | 223/348 [02:18<01:17,  1.61it/s]

OXY

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 64%|██████▍   | 224/348 [02:19<01:17,  1.59it/s]

PAYX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 65%|██████▍   | 225/348 [02:19<01:16,  1.61it/s]

PCAR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 65%|██████▍   | 226/348 [02:20<01:15,  1.62it/s]

PEG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 65%|██████▌   | 227/348 [02:21<01:14,  1.63it/s]

PEP

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 66%|██████▌   | 228/348 [02:21<01:14,  1.62it/s]

PFE

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 66%|██████▌   | 229/348 [02:22<01:15,  1.57it/s]

PFG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 66%|██████▌   | 230/348 [02:23<01:13,  1.60it/s]

PG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 66%|██████▋   | 231/348 [02:23<01:12,  1.61it/s]

PGR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 67%|██████▋   | 232/348 [02:24<01:11,  1.62it/s]

PH

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 67%|██████▋   | 233/348 [02:24<01:11,  1.62it/s]

PHM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 67%|██████▋   | 234/348 [02:25<01:10,  1.63it/s]

PLD

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 68%|██████▊   | 235/348 [02:26<01:09,  1.62it/s]

PM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 68%|██████▊   | 236/348 [02:26<01:09,  1.61it/s]

PNC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 68%|██████▊   | 237/348 [02:27<01:09,  1.60it/s]

PNR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 68%|██████▊   | 238/348 [02:28<01:08,  1.62it/s]

PNW

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 69%|██████▊   | 239/348 [02:28<01:06,  1.63it/s]

PPG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 69%|██████▉   | 240/348 [02:29<01:06,  1.63it/s]

PPL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 69%|██████▉   | 241/348 [02:29<01:05,  1.63it/s]

PRU

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 70%|██████▉   | 242/348 [02:30<01:05,  1.63it/s]

PSA

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 70%|██████▉   | 243/348 [02:31<01:05,  1.61it/s]

PSX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 70%|███████   | 244/348 [02:31<01:05,  1.58it/s]

PWR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 70%|███████   | 245/348 [02:32<01:04,  1.59it/s]

QCOM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 71%|███████   | 246/348 [02:33<01:03,  1.61it/s]

REGN

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 71%|███████   | 247/348 [02:33<01:02,  1.62it/s]

RF

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 71%|███████▏  | 248/348 [02:34<01:01,  1.62it/s]

RL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 72%|███████▏  | 249/348 [02:34<01:01,  1.61it/s]

ROK

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 72%|███████▏  | 250/348 [02:35<01:00,  1.62it/s]

ROP

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 72%|███████▏  | 251/348 [02:36<01:04,  1.51it/s]

ROST

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 72%|███████▏  | 252/348 [02:36<01:02,  1.54it/s]

RSG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 73%|███████▎  | 253/348 [02:37<01:02,  1.52it/s]

SBUX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 73%|███████▎  | 254/348 [02:38<01:00,  1.55it/s]

SCHW

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 73%|███████▎  | 255/348 [02:38<00:58,  1.58it/s]

SHW

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 74%|███████▎  | 256/348 [02:39<00:57,  1.60it/s]

SJM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 74%|███████▍  | 257/348 [02:40<00:57,  1.58it/s]

SLB

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 74%|███████▍  | 258/348 [02:40<00:57,  1.58it/s]

SNA

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 74%|███████▍  | 259/348 [02:41<00:55,  1.60it/s]

SO

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 75%|███████▍  | 260/348 [02:42<00:58,  1.49it/s]

SPG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 75%|███████▌  | 261/348 [02:42<00:56,  1.54it/s]

SPGI

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 75%|███████▌  | 262/348 [02:43<00:54,  1.57it/s]

SRE

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 76%|███████▌  | 263/348 [02:43<00:53,  1.59it/s]

STT

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 76%|███████▌  | 264/348 [02:44<00:53,  1.58it/s]

STX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 76%|███████▌  | 265/348 [02:45<00:51,  1.61it/s]

STZ

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 76%|███████▋  | 266/348 [02:45<00:50,  1.62it/s]

SWK

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 77%|███████▋  | 267/348 [02:46<00:49,  1.64it/s]

SYK

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 77%|███████▋  | 268/348 [02:46<00:48,  1.64it/s]

SYY

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 77%|███████▋  | 269/348 [02:47<00:48,  1.64it/s]

T

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 78%|███████▊  | 270/348 [02:48<00:47,  1.64it/s]

TAP

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 78%|███████▊  | 271/348 [02:48<00:47,  1.63it/s]

TEL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 78%|███████▊  | 272/348 [02:49<00:46,  1.63it/s]

TGT

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 78%|███████▊  | 273/348 [02:49<00:45,  1.64it/s]

TJX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 79%|███████▊  | 274/348 [02:50<00:44,  1.65it/s]

TMO

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 79%|███████▉  | 275/348 [02:51<00:45,  1.61it/s]

TPR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 79%|███████▉  | 276/348 [02:51<00:44,  1.63it/s]

TROW

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 80%|███████▉  | 277/348 [02:52<00:43,  1.64it/s]

TRV

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 80%|███████▉  | 278/348 [02:53<00:42,  1.64it/s]

TSN

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 80%|████████  | 279/348 [02:53<00:42,  1.64it/s]

TXN

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 80%|████████  | 280/348 [02:54<00:41,  1.64it/s]

TXT

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 81%|████████  | 281/348 [02:54<00:40,  1.64it/s]

UNH

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 81%|████████  | 282/348 [02:55<00:40,  1.65it/s]

UNP

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 81%|████████▏ | 283/348 [02:56<00:40,  1.62it/s]

UPS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 82%|████████▏ | 284/348 [02:56<00:39,  1.63it/s]

USB

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 82%|████████▏ | 285/348 [02:57<00:38,  1.62it/s]

V

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 82%|████████▏ | 286/348 [02:57<00:38,  1.63it/s]

VLO

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 82%|████████▏ | 287/348 [02:58<00:37,  1.63it/s]

VMC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 83%|████████▎ | 288/348 [02:59<00:36,  1.64it/s]

VRSN

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 83%|████████▎ | 289/348 [02:59<00:35,  1.64it/s]

VRTX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 83%|████████▎ | 290/348 [03:00<00:35,  1.63it/s]

VTR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 84%|████████▎ | 291/348 [03:00<00:34,  1.64it/s]

VZ

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 84%|████████▍ | 292/348 [03:01<00:34,  1.60it/s]

WAT

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 84%|████████▍ | 293/348 [03:02<00:33,  1.62it/s]

WBA

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 84%|████████▍ | 294/348 [03:02<00:33,  1.63it/s]

WDC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 85%|████████▍ | 295/348 [03:03<00:32,  1.64it/s]

WEC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 85%|████████▌ | 296/348 [03:04<00:31,  1.64it/s]

WELL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 85%|████████▌ | 297/348 [03:04<00:31,  1.64it/s]

WFC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 86%|████████▌ | 298/348 [03:05<00:30,  1.64it/s]

WM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 86%|████████▌ | 299/348 [03:05<00:29,  1.64it/s]

WMB

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 86%|████████▌ | 300/348 [03:06<00:29,  1.64it/s]

WMT

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 86%|████████▋ | 301/348 [03:07<00:28,  1.64it/s]

WY

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 87%|████████▋ | 302/348 [03:07<00:28,  1.62it/s]

WYNN

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 87%|████████▋ | 303/348 [03:08<00:27,  1.62it/s]

XEL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 87%|████████▋ | 304/348 [03:08<00:27,  1.63it/s]

XOM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 88%|████████▊ | 305/348 [03:09<00:26,  1.63it/s]

XYL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 88%|████████▊ | 306/348 [03:10<00:25,  1.63it/s]

YUM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 88%|████████▊ | 307/348 [03:10<00:25,  1.64it/s]

ZBH

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 89%|████████▊ | 308/348 [03:11<00:24,  1.63it/s]

ZTS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 89%|████████▉ | 309/348 [03:12<00:23,  1.63it/s]

TSCO

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 89%|████████▉ | 310/348 [03:12<00:23,  1.61it/s]

CMA

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 89%|████████▉ | 311/348 [03:13<00:22,  1.61it/s]

RHI

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 90%|████████▉ | 312/348 [03:13<00:22,  1.62it/s]

VFC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 90%|████████▉ | 313/348 [03:14<00:21,  1.63it/s]

XRAY

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 90%|█████████ | 314/348 [03:15<00:21,  1.59it/s]

WHR

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 91%|█████████ | 315/348 [03:15<00:20,  1.61it/s]

ZION

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 91%|█████████ | 316/348 [03:16<00:20,  1.59it/s]

SEE

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 91%|█████████ | 317/348 [03:17<00:19,  1.61it/s]

LNC

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 91%|█████████▏| 318/348 [03:17<00:18,  1.63it/s]

NWL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 92%|█████████▏| 319/348 [03:18<00:17,  1.62it/s]

FI

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 92%|█████████▏| 320/348 [03:18<00:17,  1.60it/s]

ESS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 92%|█████████▏| 321/348 [03:19<00:16,  1.62it/s]

VNO

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 93%|█████████▎| 322/348 [03:20<00:16,  1.62it/s]

PVH

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 93%|█████████▎| 323/348 [03:20<00:15,  1.63it/s]

ELV

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 93%|█████████▎| 324/348 [03:21<00:14,  1.64it/s]

AVGO

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 93%|█████████▎| 325/348 [03:22<00:15,  1.46it/s]

META

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 94%|█████████▎| 326/348 [03:22<00:14,  1.49it/s]

BALL

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 94%|█████████▍| 327/348 [03:23<00:13,  1.53it/s]

WBD

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 94%|█████████▍| 328/348 [03:24<00:13,  1.51it/s]

LEG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 95%|█████████▍| 329/348 [03:24<00:12,  1.55it/s]

WU

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 95%|█████████▍| 330/348 [03:25<00:11,  1.58it/s]

CTRA

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 95%|█████████▌| 331/348 [03:25<00:10,  1.60it/s]

NOV

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 95%|█████████▌| 332/348 [03:26<00:10,  1.53it/s]

PRGO

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 96%|█████████▌| 333/348 [03:27<00:09,  1.55it/s]

UNM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 96%|█████████▌| 334/348 [03:27<00:08,  1.59it/s]

MLM

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 96%|█████████▋| 335/348 [03:28<00:08,  1.61it/s]

FLS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 97%|█████████▋| 336/348 [03:29<00:07,  1.61it/s]

XRX

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 97%|█████████▋| 337/348 [03:29<00:06,  1.62it/s]

FTI

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 97%|█████████▋| 338/348 [03:30<00:06,  1.61it/s]

AIV

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 97%|█████████▋| 339/348 [03:30<00:05,  1.62it/s]

VTRS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 98%|█████████▊| 340/348 [03:31<00:04,  1.63it/s]

PCG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 98%|█████████▊| 341/348 [03:32<00:04,  1.64it/s]

HRB

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 98%|█████████▊| 342/348 [03:32<00:03,  1.64it/s]

KSS

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 99%|█████████▊| 343/348 [03:33<00:03,  1.65it/s]

LUMN

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 99%|█████████▉| 344/348 [03:33<00:02,  1.64it/s]

UAA

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 99%|█████████▉| 345/348 [03:34<00:01,  1.64it/s]

HOG

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
 99%|█████████▉| 346/348 [03:35<00:01,  1.64it/s]

JWN

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
100%|█████████▉| 347/348 [03:35<00:00,  1.64it/s]

HP

<ipython-input-39-53559c05036c>:40: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  metadata=pd.concat([metadata, stock_row], ignore_index=True) #adds stock_row onto metadata master dataframe
100%|██████████| 348/348 [03:36<00:00,  1.61it/s]

# Cleaning data

In [40]:
metadata

Warning: Total number of columns (47) exceeds max_columns (20). Falling back to pandas display.

,Symbol,Name_short,Name_long,Zip_code,City,State,Country,Website,Industry,Sector,...,smallArms,furLeather,gambling,gmo,militaryContract,nuclear,pesticides,palmOil,coal,tobacco
0,AAPL,Apple Inc.,Apple Inc.,95014,Cupertino,CA,United States,https://www.apple.com,Consumer Electronics,Technology,...,False,False,False,False,False,False,False,False,False,False
1,ABBV,AbbVie Inc.,AbbVie Inc.,60064-6400,North Chicago,IL,United States,https://www.abbvie.com,Drug Manufacturers - General,Healthcare,...,False,False,False,False,False,False,False,False,False,False
2,ABT,Abbott Laboratories,Abbott Laboratories,60064-6400,North Chicago,IL,United States,https://www.abbott.com,Medical Devices,Healthcare,...,False,False,False,False,False,False,False,False,False,False
3,ACN,Accenture plc,Accenture plc,None,Dublin,None,Ireland,https://www.accenture.com,Information Technology Services,Technology,...,False,False,False,False,False,False,False,False,False,False
4,ADBE,Adobe Inc.,Adobe Inc.,95110-2704,San Jose,CA,United States,https://www.adobe.com,Software - Infrastructure,Technology,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,LUMN,"Lumen Technologies, Inc.","Lumen Technologies, Inc.",71203,Monroe,LA,United States,https://www.lumen.com,Telecom Services,Communication Services,...,False,False,False,False,False,False,False,False,False,False
344,UAA,"Under Armour, Inc.","Under Armour, Inc.",21230,Baltimore,MD,United States,https://www.underarmour.com,Apparel Manufacturing,Consumer Cyclical,...,False,False,False,False,False,False,False,False,False,False
345,HOG,"Harley-Davidson, Inc.","Harley-Davidson, Inc.",53208,Milwaukee,WI,United States,https://www.harley-davidson.com,Recreational Vehicles,Consumer Cyclical,...,False,False,False,False,False,False,False,False,False,False
346,JWN,"Nordstrom, Inc.","Nordstrom, Inc.",98101,Seattle,WA,United States,https://press.nordstrom.com,Department Stores,Consumer Cyclical,...,False,False,False,False,False,False,False,False,False,False
347,HP,"Helmerich & Payne, Inc.","Helmerich & Payne, Inc.",74120,Tulsa,OK,United States,https://www.helmerichpayne.com,Oil & Gas Drilling,Energy,...,False,False,False,False,False,False,False,False,False,False

In [41]:
#no cleaning yet

<h1 style="color:#FF0000">Upload to GBQ</h1>

In [42]:
from google.colab import auth #authenticates google colab
auth.authenticate_user()

In [43]:
#@title access BigQuery project
project_id = 'lw-esg-project'

# Package used for interfacing w/ BigQuery from Python
from google.cloud import bigquery

# Create BigQuery client
bq_client = bigquery.Client(project = project_id)

I viciously raided this google colab notebook for code: https://colab.research.google.com/drive/1hSI1BXyCyj7viRpp1GFZqkU1qtBUd0g1?authuser=0 (produced for google by Alok Pattani I believe...)

Select the dataset, only one atm
Select output_table_id (chooses which df to upload to a table)
Select replace or append
The way I've written this that should be all you need to do

# DO NOT - I REPEAT - DO NOT: USE THIS WITHOUT CHECKING WITH AT LEAST ONE OTHER PERSON, this code can and will rewrite any work we do on bigquery (which is why it's commented out)

In [45]:
#@title upload dataframe to BigQuery Table
output_dataset_id = 'yfinance'

output_table_id = 'metadata'

replace_or_append_output = 'replace' #@param{type:'string'} ['replace', 'append']


#don't forget to change this!!!!!!!!!!!!!!!!!!!!!!!!!!!!
output_table=metadata #choose dataframe from dictionary created previously using selected string output_dataset_id



if output_table_id=='metadata':
    output_table_id=output_table_id
else:
    output_table_id = f"{output_table_id}_{time_range}_{datatype}"
output_table_id = f"{output_table_id}_{fin_index}_thresh{threshold}"




# Combine project and dataset
project_dataset = f"{bq_client.project}.{output_dataset_id}"

# Combine project, dataset, and table
project_dataset_table = f"{project_dataset}.{output_table_id}"

# Check to make sure output dataset exists, create it if not
try:
  bq_client.get_dataset(output_dataset_id)
  print(f"BigQuery dataset {project_dataset} exists\n")

except:
  print(f"BigQuery dataset {project_dataset} doesn't exist, so creating it\n")
  dataset = bq_client.create_dataset(bigquery.Dataset(project_dataset))

job_config = bigquery.LoadJobConfig()

# Modify job config depending on if we want to replace or append to table
if(replace_or_append_output == 'replace'):
  job_config.write_disposition = bigquery.WriteDisposition.WRITE_TRUNCATE
else:
  job_config.write_disposition = bigquery.WriteDisposition.WRITE_APPEND

dataset_ref = bq_client.dataset(output_dataset_id)
table_ref = dataset_ref.table(output_table_id)


# Use client functionality to load BigQuery table from Pandas data frame
bq_client.load_table_from_dataframe(
  dataframe = output_table,
  destination = table_ref,
  job_config = job_config
  ).result()

print((f"{output_table_id} ({replace_or_append_output}) to "
  f"BigQuery table {project_dataset_table}\n"))

BigQuery dataset lw-esg-project.yfinance exists

/usr/local/lib/python3.11/dist-packages/google/cloud/bigquery/_pandas_helpers.py:570: UserWarning: Pyarrow could not determine the type of columns: peerEsgScorePerformance, peerGovernancePerformance, peerSocialPerformance, peerEnvironmentPerformance, peerHighestControversyPerformance, environmentPercentile, socialPercentile, governancePercentile.
  warnings.warn(

metadata_SP500_thresh90 (replace) to BigQuery table lw-esg-project.yfinance.metadata_SP500_thresh90